{% extends "labMat/base.html" %}
{% load tag_library %}

{% block content %}
	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
            	<th class="align-middle">ID</th>
                <th class="align-middle">Naziv artikla</th>
                <th class="align-middle">Jedinica mere</th>
                <th class="align-middle">{{ years.year|subtract:1 }}</th>
                <th class="align-middle">{{ years.year }}</th>
            </tr>
        </thead>
        <tbody>
        	{%for item in items %}
	            <tr>
	            	<td class="align-middle table-column-center">{{ item.id }}</td>
	            	<td class="table-column-left">{{ item.item_name }}</td>
	                <td class="table-column-center">{{ item.unit_of_measure }}</td>
	                <td class="table-column-right">200</td>
	                <td class="table-column-right">{{ plan.qty }}</td>            
	            </tr>
            {% endfor %}
         </tbody>
    </table>
{% endblock content %}
